.large-hero{
    position: relative;
    color: #16368A;

    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        
                
    }

    &__title {
        font-weight: 300;
        margin-bottom: 0;
        color: var(--main-blue);
        font-size: 1.1rem;

        @media screen and (min-width: 530px) {
            font-size: 2rem;
            }

        @media screen and (min-width: 800px) {
                font-size: 3.2rem;
                }
        @media screen and (min-width: 1200px) {
                font-size: 4.8rem;
                }
        

        
                   
        
    }
    &__subtitle{
        font-weight: 300;
        font-size: 0.6rem;
        margin-top: 0;
        color: var(--main-blue);

        @media screen and (min-width: 530px) {
            font-size: 1.1rem;
            }

        @media screen and (min-width: 800px) {
                font-size: 1.9rem;
                }
        @media screen and (min-width: 1200px) {
                font-size: 2.9rem;
                }
    }

    &--description{
        color: #fff;
        font-size: 1.875rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.027);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}


