.site-header {

    position: absolute;
    z-index: 2;
    background-color: rgba(47, 85, 144, 0.3);
    width: 100%;
    padding: 10px 0;
    

    &__btn-container {
        
        float: right;
    }

    &__logo {

        position: absolute;
        background-color: var(--main-blue);
        padding: 20px 36px;
        border-radius: 5px;
        top: 0;

    }
}