.testimonial {
    background-color: rgba(255, 255, 255, .8);
    padding: 0 1.8125rem 1px 1.8125rem;

    @media screen and (max-width: 1010px) {
        padding: 0 18px 0 18px;
        margin-bottom: 98px;
        }

    &--last {
        margin-bottom: 0;
    }
    
                  
    
       
   
&__photo {
    border-radius: 80px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto 0 auto;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    border: 6px solid  rgba(255, 255, 255, .8);
}

&__title{

    color: var(--main-blue);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

&__subtitle{
    color: var(--main-orange);
    text-align: center;
    font-weight: 400;
    font-size: .93rem;
    margin-top: .25rem 0 1rem 0 ;

}
}